.contact
  %h1= t('strings.contact')
  .mail
    %h3= t('strings.mail_contact')

    = form_tag(send_contact_email_path, id: 'form_contact') do
      .field= text_field_tag :name, '', placeholder: 'nome', required: true, data: { 'msg-required' => 'Informe seu nome' }
      .field= email_field_tag :email, '', placeholder: 'e-mail', required: true, data: { 'msg-required' => 'Informe seu email' }
      .field= text_field_tag :subject, '', placeholder: 'assunto', required: true, data: { 'msg-required' => 'Informe o assunto do seu contato' }
      .field= text_area_tag :message, '', placeholder: 'mensagem', required: true, data: { 'msg-required' => 'Explique o motivo do seu contato' }, maxlength: 355

      = submit_tag 'Enviar', class: 'btn-black'

  .phone
    %h3= t('strings.phone')
    %p (21) 8845-0674
    %p brunarxavier@gmail.com

= content_for :javascript do
  :javascript
    $("#form_contact").validate()
